* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #454545;
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
    height: 100vh; /* Высота body на 100% от окна */
    margin: 0; /* Убирает дефолтные отступы у body */
    padding-top: 70px; /* Отступ сверху на 70px (можно настроить от 60 до 80px) */
}

.container {
    text-align: center; /* Центрирует текст внутри контейнера */
    background-color: #292929;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%; /* Контейнер будет адаптивным */
}

.profile {
    display: block;
    text-align: center; /* Центрирует содержимое внутри .profile */
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto; /* Центрирует изображение */
}

h2 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.form-container {
    margin-top: 20px;
}

input[type="number"],
select {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block; /* Ожидаем, что элементы будут по одному на линии */
    margin-left: auto;
    margin-right: auto; /* Центрируем элементы */
}

button {
    width: 80%; /* Центрирует кнопку */
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Центрирует кнопку */
}

button:hover {
    background-color: #367d38;
}

.confirmation {
    display: none;
    text-align: center;
}

#confirmation {
    display: none;
}
