* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #E0E0E0; /* Светло-серый для текста */
    background-color: #121212; /* Очень тёмный фон */
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
    height: 100vh; /* Высота body на 100% от окна */
    margin: 0; /* Убирает дефолтные отступы у body */
    padding-top: 70px; /* Отступ сверху на 70px */
}

.container {
    text-align: center; /* Центрирует текст внутри контейнера */
    background-color: #1F1F1F; /* Тёмно-серый фон контейнера */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Темная тень */
    width: 400px;
    max-width: 100%; /* Контейнер будет адаптивным */
}

h2 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF; /* Белый для заголовков */
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #4CAF50; /* Зеленая рамка вокруг изображения */
}

.input, select {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #4CAF50; /* Светлый зеленый цвет для полей ввода */
    border-radius: 4px;
    background-color: #292929; /* Темный фон для полей */
    color: #E0E0E0; /* Светлый цвет текста внутри поля */
}

button {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50; /* Зеленая кнопка */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Центрируем кнопку */
}

button:hover {
    background-color: #367d38; /* Более темный оттенок зеленого при наведении */
}

.confirmation {
    display: none;
    text-align: center;
}

#confirmation {
    display: none;
}
